<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
        /* Add this CSS to change carousel control icon color to black */
        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            background-color: #000; /* Black color */
        }

        /* Add this CSS to change the color of the control text to black */
        .carousel-control-prev, .carousel-control-next {
            color: #000; /* Black color */
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/auth/register">Register</a>
    <a class="navbar-brand" href="/auth/login">Login</a>
</nav>
